@font-face { font-family: "Roboto";
             src: url("fonts/Roboto-Regular.ttf"); }

body { font-family: Roboto;
       font-size: large;
       background-color: #ffefff;
       /* background-color: rgba(245,159,32,0.1); */
       color: #0C0C0C; }

h1,h2,h3,h4,h5 { font-family: Roboto; }

h1 { font-size: xx-large; }

hgroup > a { float: right; }

article { width: 760px;
          margin: 0 auto; }

p { float: left;
    width: 70%;
    text-align: justify;
    line-height: 1.6em; }

p:first-of-type { margin-top: 5%; }

a { color: #010101; }

div.credit { margin-top: 4em;
             width: 45%;
             float: left; }

div.credit p { width: 100%; }

img.vertical-screenshot { max-width: 20%;
                          margin: 5% 5% 0 0; 
                          float: left; }

img.horizontal-screenshot { max-width: 50%;
                            float: right;
                            margin: 4em 0em; }

strong { font-weight: 800; }

div.clear { clear: both; }

img.appstorebadge { min-width: 135px;
                    display: block;
                    margin-right: 2em; }

img.bottombadge { width: 50%;
                  margin: 1.5em auto 0.5em auto; }